.drag-drop-uploader {
  border: dotted 3px #999999;
  border-radius: 10px;
  margin: 5px 20px 0px 20px;
  text-align: center;
  padding: 20px 20px 10px 20px;

  .drag-drop-content-heading {
    font-size: 14px;
    font-weight: 600;
    background: inherit !important;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .drag-drop-content-sub-heading {
    font-size: 11px;
    background: inherit !important;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .MuiButton-outlined {
    text-align: center;
    background: white;
    color: #333;
    font-family: inherit;
    border: 1px solid #333;
    box-sizing: border-box;
    transition: none;
    padding: 0 12px;
    font-size: 12px;
    font-weight: 500;
    height: 20px;
    border-radius: 16px;
    min-width: 52px;
    margin-left: 0 !important;
  }
}
