.tile {
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
}

.tile:hover {
  border: 1px solid grey;
}

.tileBox {
  background-color: rgb(78, 86, 146);
  box-shadow: rgba(0, 0, 0, 0.3);
  margin: 2px 2px 2px 2px;
}

.tileContent {
  padding: 8px;
  color: white;
  font-size: 32px;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
